VITE_API_BASE_URL=http://localhost:8080/api
VITE_MOCK_MODE=false

# Mapbox (FE public token, URL-restricted tren Mapbox dashboard)
VITE_MAPBOX_TOKEN=
VITE_MAP_STYLE=mapbox://styles/mapbox/streets-v12
VITE_DEFAULT_LAT=10.8231
VITE_DEFAULT_LNG=106.6297

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=dbsu61unm
VITE_CLOUDINARY_UPLOAD_PRESET=foodara
VITE_CLOUDINARY_API_URL=https://api.cloudinary.com/v1_1/dbsu61unm/image/upload
